@import 'variables';

.primary {
    fill: $gray-500;
}

.primary:hover {
    fill: darken($gray-500, 15%);
}

.secondary {
    fill: $gray-700;
}

.font-serif {
    font-family: $font-family-serif;
}

.font-sans {
    font-family: $font-family-sans-serif;
}

[v-cloak] {
    display: none;
}

@import 'nprogress';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~bootstrap';

